html{
    background-color: rgb(255, 255 ,200);
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 590px; 
    background-color: rgb(255, 255 ,200);
   
    border: 3px solid black;
    width: 300px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 13px;
    
}
/*
#load{
    background-color: yellow;
    z-index: 2;
    width: 100%;
    height: 100%;
    position:absolute; 
    top:0px; right:0px; bottom:0px; left:0px; 
    
    display: flex;
    justify-content: center;
     
    align-items: center;
    
    
}

*/
div.header{
    background-color: yellow;
    width: 300px;
    height: 10%;
   
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
    


    z-index: 1;
}

#logo{
    width: 25%;
    height: 80%;
    margin-top: 10px;
    z-index: 3;
}